<div class="row" *ngIf="!isCreateView">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-success px-3 py-2" (click)="addNew()">Add New</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Emp code</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Designation</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList">
          <td>{{employee.empCode}}</td>
          <td>{{employee.empName}}</td>
          <td>{{employee.empEmailId}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.empDesignation}}</td>
          <td>{{employee.role}}</td>
          <td><button class="btn btn-primary" (click)="onEdit(employee.empId)">Edit</button>
            <button class="btn btn-danger" (click)="onDelete(employee.empId)" >Delete</button></td>  
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="isCreateView">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-success px-3 py-2" (click)="isCreateView=false">Goto ListView</button>
      </div>
    </div>
    <div class="progress-wrapper">
      <div id="progress-bar-container">
        <ul>
          <li class="step step01" (click)="setActiveStep(step)"
            [ngClass]="step.stepName == activeStep.stepName ? 'active' : ''" *ngFor="let step of stepsList">
            <div class="step-inner">{{step.stepName}}</div>
          </li>
        </ul>
        <div id="line">
          <div id="line-progress" [style.width.%]="stepperCompletionValue"></div>
        </div>
        <!-- progress-bar-container -->
        <div id="progress-content-section">
          <div class="section-content step1 active" *ngIf="activeStep.stepName=='Basic Details'">
            <div class="row">
              <div class="form-group col-md-4">
                <label>Name :</label>
                <input type="text" [(ngModel)]="employeeObj.empName" placeholder="Enter Name" class="form-control">
              </div>
              <div class="form-group col-md-4">
                <label>User Name :</label>
                <input type="text" [(ngModel)]="employeeObj.userName" placeholder="Enter user Name"
                  class="form-control">
              </div>
              <div class="form-group col-md-4">
                <label>Email :</label>
                <input type="text" [(ngModel)]="employeeObj.empEmailId" placeholder="Enter Email" class="form-control">
              </div>
              <div class="form-group col-md-4">
                <label>Password :</label>
                <input type="password" [(ngModel)]="employeeObj.password" placeholder="Enter Password"
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label>Designation :</label>
                <select class="form-select" [(ngModel)]="employeeObj.empDesignationId">
                  <option>select designation</option>
                  <option *ngFor="let designation of designationList" value="{{designation.designationId}}">
                    {{designation.designation}}</option>
                </select>

              </div>

              <div class="form-group col-md-3">
                <label>Role :</label>
                <select class="form-select" [(ngModel)]="employeeObj.roleId">
                  <option>select role</option>
                  <option *ngFor="let role of roleList" value="{{role.roleId}}">{{role.role}}</option>
                </select>

              </div>
              <div class="form-group col-md-6">
                <label>Contact No :</label>
                <input type="text" [(ngModel)]="employeeObj.empContactNo" placeholder="Enter Contact No"
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Alternate Contact No :</label>
                <input type="text" [(ngModel)]="employeeObj.empAltContactNo" placeholder="Alternate Contact No."
                  class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Personal Email ID :</label>
                <input type="text" [(ngModel)]="employeeObj.empPersonalEmailId" placeholder="Enter Personal EmailID"
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Total Years of Experience :</label>
                <input type="text" [(ngModel)]="employeeObj.empExpTotalYear"
                  placeholder="Enter total Years of Experience" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Total Month of Experience :</label>
                <input type="text" [(ngModel)]="employeeObj.empExpTotalMonth" placeholder="Enter month of Experience"
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>City :</label>
                <input type="text" [(ngModel)]="employeeObj.empCity" placeholder="Enter City" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>State :</label>
                <input type="text" [(ngModel)]="employeeObj.empState" placeholder="Enter State" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Address :</label>
                <textarea placeholder="Enter Address" [(ngModel)]="employeeObj.empAddress"
                  class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Pincode :</label>
                <input type="text" [(ngModel)]="employeeObj.empPinCode" placeholder="Enter Pincode"
                  class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Personal City :</label>
                <input type="text" [(ngModel)]="employeeObj.empPerCity" placeholder="Enter Personal City"
                  class="form-control">
              </div>

            </div>
            <div class="row">

              <div class="form-group col-md-6">
                <label>Personal State :</label>
                <input type="text" [(ngModel)]="employeeObj.empPerState" placeholder="Enter Personal State"
                  class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Personal Pin Code :</label>
                <input type="text" [(ngModel)]="employeeObj.empPerPinCode" placeholder="Enter Personal Pin Code"
                  class="form-control">
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Permanent Address :</label>
                <textarea [(ngModel)]="employeeObj.empPerAddress" placeholder="Enter Permanent Address"
                  class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button class="btn btn-primary" (click)="gotoStep2()">Next</button>
              </div>

            </div>

          </div>

          <div class="section-content step2 active" *ngIf="activeStep.stepName=='Skills'">

            <div class="container-fluid">
              <div class="form-group mt-2" id="tblSkill">
                <div class="container">
                  <div class="row">
                    <div class="col-6 text-start">
                      <h5>Skills</h5>
                    </div>
                    <div class="col-6 text-end mb-2">
                      <button class="btn btn-sm btn-info" (click)="addSkills()">Add</button>
                    </div>
                  </div>

                  <div id="table-container">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Skill Name</th>
                          <th>Total Experience</th>
                          <th>Last Version</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let skill of employeeObj.erpEmployeeSkills">
                          <td>
                            <input type="text" [(ngModel)]="skill.skill" placeholder="Skill" class="form-control">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="skill.totalYearExp" placeholder="Total Experience"
                              class="form-control">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="skill.lastVersionUsed" placeholder="Last Version"
                              class="form-control">

                          </td>

                          <td class="btn-container">
                            <button class="btn btn-sm btn-success"><i class="fa fa-save"></i>
                              Save</button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</button>
                          </td>
                        </tr>
                        <tr>

                        </tr>
                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>
                    <div class="btn-container d-flex justify-content-end">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button class="btn btn-primary" (click)="gotoStep3()">Next</button>
              </div>

            </div>
          </div>
          <div class="section-content step3 active" *ngIf="activeStep.stepName=='Experience'">

            <div class="container-fluid">
              <div class="form-group mt-2" id="tblExperience">
                <div class="container">
                  <div class="row">
                    <div class="col-6 text-start">
                      <h5>Experience</h5>
                    </div>
                    <div class="col-6 text-end mb-2">
                      <button class="btn btn-sm btn-info" (click)="addExperience()">Add</button>
                    </div>
                  </div>

                  <div id="table-container">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Company</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Designation</th>
                          <th>Project</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let experience of employeeObj.ermEmpExperiences">
                          <td>
                            <input type="text" [(ngModel)]="experience.companyName" class="form-control "
                              placeholder="Company">
                          </td>
                          <td>
                            <input type="date" [(ngModel)]="experience.startDate" class="form-control"
                              placeholder="Start Date">
                          </td>
                          <td>
                            <input type="date" [(ngModel)]="experience.endDate" class="form-control"
                              placeholder="End Date">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="experience.designation" class="form-control"
                              placeholder="Designation">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="experience.projectsWorkedOn" class="form-control"
                              placeholder="Project">
                          </td>

                          <td class="col-md-12 btn-container d-flex">
                            <button class="btn btn-sm btn-success">
                              <i class="fa fa-save fa-sm"></i> Save
                            </button>
                            <button class="btn btn-sm btn-danger">
                              <i class="fa fa-trash fa-sm "></i> Delete
                            </button>
                          </td>
                        </tr>

                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>

                  </div>
                  <div class="row">
                    <div class="col-12 text-end">
                      <button class="btn btn-success" *ngIf="employeeObj.empId!=0" (click)="updateEmployee()">update</button>
                      <button class="btn btn-primary" *ngIf="employeeObj.empId==0" (click)="saveEmployee()">save</button>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- progress-wrapper -->

    </div>
  </div>
</div>


<router-outlet></router-outlet>